<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BASE_APPLICATION_TAG</key>
	<string>$(BASE_APPLICATION_TAG)</string>
	<key>LOGIN_URL</key>
	<string>$(LOGIN_URL)</string>
	<key>REGISTER_URL</key>
	<string>$(REGISTER_URL)</string>
</dict>
</plist>
